<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.2.xsd"
    >
	
	
	<mvc:annotation-driven />
	
	
	<!-- 1. 包扫描 controller -->
	<context:component-scan base-package="com.gpdata.wanyou.admin.controller" use-default-filters="false">
		<context:include-filter type="annotation"
            expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- 2. 内部资源视图解析器 -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/admin/" />
		<property name="suffix" value=".jsp"/>
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" /> 
	</bean>
	
	
	<!-- 静态资源映射 -->
	<!-- 
	<mvc:resources mapping="/admin/**" location="/admin/" cache-period="31556926" />
	<mvc:resources mapping="/upload/**" location="/upload/" cache-period="31556926" />
	-->
	<mvc:resources mapping="/js/**" location="/admin/js/" cache-period="-1" />
	<mvc:resources mapping="/admin/js/**" location="/admin/js" cache-period="-1" />
	<mvc:resources mapping="/script/**" location="/admin/script/" cache-period="-1" />
	
	<mvc:resources mapping="/css/**" location="/admin/css/" cache-period="31556926" />
	<mvc:resources mapping="/fonts/**" location="/admin/fonts/" cache-period="31556926" />
	<mvc:default-servlet-handler default-servlet-name="default" />
	
</beans>
