<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true" version="3.0">

    <display-name>policy</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            com.gpdata.wanyou.base.listener.SystemPropertyListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>


    <!-- 允许 js 跨域访问 -->
    <!-- org.eclipse.jetty.servlets.CrossOriginFilter -->
    <!-- com.gpdata.wanyou.base.filter.CrossOriginFilter -->
    <!--<filter>-->
        <!--<filter-name>cross-origin</filter-name>-->
        <!--<filter-class>com.gpdata.wanyou.base.filter.CrossOriginFilter</filter-class>-->
        <!--<async-supported>true</async-supported>-->
        <!--<init-param>-->
            <!--<param-name>allowedOrigins</param-name>-->
            <!--<param-value>*</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>allowedMethods</param-name>-->
            <!--<param-value>OPTIONS,GET,POST,HEAD,DELETE,PUT,TRACE</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>allowedHeaders</param-name>-->
            <!--<param-value>*</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>cross-origin</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!-- Shiro 用户权限过滤器（后台） -->

    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers, Last-Modified</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.support.credentials</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>10</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Spring 字符编码过滤 -->
    <filter>
        <filter-name>spring-characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>spring-characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Spring 隐式 HTTP 方法支持 -->
    <filter>
        <filter-name>spring-hiddenHttpMethodFilter</filter-name>
        <filter-class>
            org.springframework.web.filter.HiddenHttpMethodFilter
        </filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>spring-hiddenHttpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- 获取当前登录用户的过滤器 -->
    <filter>
        <filter-name>accessUserFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>accessUserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 外部页面预览 -->
    <servlet>
        <servlet-name>ForeignHtmlPreviewServlet</servlet-name>
        <servlet-class>com.gpdata.wanyou.servlet.ForeignHtmlPreviewServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>ForeignHtmlPreviewServlet</servlet-name>
        <url-pattern>/fhps/*</url-pattern>
    </servlet-mapping>

    <!-- 服务查询入口
    <servlet>
        <servlet-name>ServiceQueryServlet</servlet-name>
        <servlet-class>com.gpdata.wanyou.servlet.ServiceQueryServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServiceQueryServlet</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
-->
    <!-- Spring Web MVC 前端控制器 -->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:applicationContext-servlet.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>